@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  font-family: "Lato", sans-serif;
}
.container{
    max-width: 100%;
    margin: 15px;
}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container h5 {
    margin: 0px;
    padding-bottom: 3px;
    font-weight: bold;
  }
.container hr{
   margin: 0;
   margin-bottom: 3px;
}
 /* .innersection{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

} */

/* .innersection-1{
        display: flex;
        flex-direction: row;
       margin-bottom: 3px;
       gap: 40px;

} */