*{
    height: auto;

}
.my-form {
    padding-bottom: 2%;
    /* display: flex;
    flex-direction: column; */
    margin-top: 10px;
  }
  .heading{
    align-items: center;
    line-height: 100%;
    margin-bottom: 10px;
  }
  .forms
  {
    align-items: center;
  }
  .form-group {
    display: flex;
    gap: 20px; /* Adjust the gap as needed */
    /* margin-bottom: 10px;  */
  }
  
  label {
    width: 400px; /* Set a fixed width for labels */
    padding-right: 5%;
  }
  input{
    height:25px;
    width:300px;
  }
  .inputs{
    height:25px;
    width:300px;
    background-color: rgb(248, 250, 250);
  }
  .submit-button {
    width: 80px; /* Set the desired width for the submit button */
    margin-top: 4px; /* Add some top margin for separation */
    background-color: hsl(158, 75%, 17%);
    border-radius: 6%;
    height: 30px;
    color: white;
    text-align:center;
  }
  .add-button {
    opacity: 0.4;
    height: 80%;
    width: 80px; 
    margin-top: 4px;
    background-color: hsl(158, 75%, 17%);
    border-radius: 10%;
    color: white;
    margin-left: 82%;
  }
  .my-table{
    border-collapse:collapse;
    width: 88%;
  }
  .submit-buttons {
    width: 80px; /* Set the desired width for the submit button */
    margin-top: 4px; /* Add some top margin for separation */
    background-color: hsl(158, 75%, 17%);
    border-radius: 6%;
    height: 30px;
    color: white;
    text-align:center;
    margin-left: 40%;
    margin-right:1% ;
  }